.bordered{
  border:1px solid #ccc;
  border-radius:5px;
}

.v-data-table td {
    font-size: 18px;
    height: 48px;
}

.v-data-table th {
    font-size: 18px;
    height: 48px;
}

.theme--light.v-data-table {
    background: none !important;
    margin-top: 60px;
    border-top: 1px solid #000;
}

.v-data-table tr td, .v-data-table tr th{
      border-bottom:1px solid #000 !important;
}